h1 { color: #FF0084; font-size: 24px; }
h2 { color: #4096EE; font-size: 18px; }

.flash_notice, .flash_error, .flash_alert { margin-top: 5px; padding: 5px 8px;}
.flash_notice { background-color: #CFC; border: solid 1px #6C6; }
.flash_error, .flash_alert { background-color: #FCC; border: solid 1px #C66; }

.horizontal_links {padding:0; margin:0; list-style:none; border:0;}
.horizontal_links li { float:left; margin:5px 0px 5px 0px; padding:0 10px; border:0;}

.error_explanation { background-color: #FCC; border: solid 1px #C66; padding: 5px; }
.error_explanation h1 { font-size: 18px; color: #ff0000;}
.error_explanation li { font-size: 14px; color: #ff0000;}

.action_items{margin: 5px; padding: 5px; height: 25px; float:left;}

.clear{
  clear: both;
}

div.buttons {
  clear: both;
}
div.buttons a {
  display: block;
  float: left;
  margin-right: 2px;
  padding: 4px 7px 2px 7px;
  border: 1px solid #ccc;
  background-color: #356AA0;
  color: #fff;
  text-decoration: none;
}
div.buttons a:hover {
  background-color: #FF0084;
  text-decoration: none;
}

hr{ height: 1px;margin: 0; background: #C3D9FF;}

/* Page: Index. Sections for home page*/
.subheader{ background: #ffffff; font-size: 15px;}
.main_content{ padding: 5px 0px 5px 0px;}

/* to center a UL in the div, assign a width and set margin: auto */
.logo{background: #EEEEEE; width:100%; margin:auto; height: 130px; vertical-align: middle;text-align: center;}
.header_bg{width: 100%; background: #EEEEEE;}
.header a{color: #D01F3C;}
  
.footer{height: 100px; margin: auto; width: 495px;}
.navbar_links{font-size: 20px; font-weight: bold;}
.navbar_links a{ text-decoration: none;}

/* Page: Destinations, Poi*/
.picture_container{ background: #eee; float: left; width: 900px; padding: 10px; margin: 10px;}

/* Page: Sections for picture management*/
.upload_form{ background:#EEEEEE; margin: 10px; padding: 5px; width: 900px;}
.upload_form h2{ margin-bottom: 0px;}
.upload_form #picture_imageUploader{ margin-left: 20px; padding: 5px;}
.upload_form #picture_submit{ background: #356AA0; color: #fff; border: 0px; margin-left: 20px; padding: 5px; font-size: 16px; width: 110px;}
.upload_form, .simple_upload_link, .small_note{ font-size: 10px;}

table{
  background: #F9F7ED;
  border-color: #C3D9FF;
  border-size: 1px;
}

table th{
  background: #999999;
}

/* iPhone: Chapter */
#iphone_bg_container{
  width: 450px;
  /* this shows the whole iphone container. If the content inside the container is longer than 450px, then it overshoots the footer. If this happens, do paging */
  height: 860px;
  background: url(../images/bg_iphone4_450x860.jpg); 
  margin: 0px 0px 0px 0px;
  float: left;
}
#iphone_content{
  width: 320px;
  /* height: 460px; */
  /* background: #ff0000; */
  /* background: url(http://192.168.10.60/images/appkit/2/default/tr_Autobot-904.jpg); */
  margin-left: 65px;
  margin-top: 178px;
  float: left;
}

.button_gray_ts{
  width: 160px;
  height: 34px;
  /* background: url(../images/buttons/button_1_right_gray_ts_136x34.png); */
  background: url(../images/buttons/button_center_ts.png); 
}

.button_gray_ts a{
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
}

.button_gray_ts p{
  padding-top: 5px;
}

#button_right p{
  padding-top: 5px;
}

#iphone_navbar{
  margin-top: 0px;
  width: 320px;
  height: 44px;
  float: left;
}

#iphone_navbar_title{
  margin-top: 6px;
  width: 180px;
  height: 28px;
  float: left;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}

#iphone_list{
  float: left;
}
#iphone_list a{
  color: #000000;
  text-decoration: none;
}
.iphone_list_element_title{ font-size: 16px; font-weight: bold; margin: 0;} 
.iphone_list_element_sub_title{ font-size: 12px; font-weight: bold; margin: 0;} 
.iphone_list_element_text{ font-size: 10px; font-weight: bold; line-height: 12px;} 

#iphone_detail_image{
  width: 320px;
  height: 220px;
  background: #cccccc;
  float:left;
}
#iphone_detail_text{
  float:left;
  width: 310px;
  height: 130px;
  color: #000000;
  line-height: 15px;
}

#iphone_detail_text textarea{
  margin: 0;
  width: 305px;
  height: 182px;
}
