<h1>What is AppKit?</h1>

<p>A solution for mobile app development and deployment strategy focused on the travel industry. If you don't have a mobile presence or strategy, then you are really missing out! So what do we offer? Our experience in the mobile industry has enabled us to create custom NATIVE application templates that may suit your needs.</p>

<div style="text-align:center;">
  <%= image_tag('home.jpg') %>
</div>


<h1>Apps created by AppKit</h1>

<ul class="horizontal_links">
<% @app_profiles.each do |app_profile| %>
  <li style="text-align:center; width:150px; float:left;">
    <div><h2><%= link_to app_profile.app_name, app_profile_path(app_profile) %></h2></div>
  </li>
<% end %>
</ul>
