<% if user_signed_in? %>
  <div class="span-24 last subheader">
    <ul class="horizontal_links">

      <% if breadcrumbs().count > 0 %>

        <% if normal_user? %>
          <li>App Profile</li>
        <% else %>
          <li><%= link_to 'Home', root_path %></li>
        <% end %>

        <% breadcrumbs().each do |c| %>
          <li> <%= image_tag('right_arrow.png') %> </li>
          <li> <%= link_to c.name, c.path, :rel => 'nofollow' %> </li>
        <% end %>

      <% end %>

    </ul>
  </div>
<% end %>
